@model Vcs.Web.Areas.Administration.Models.ImageBrowserModel

<a id="bi-@Model.TargetId" href="/Administration/ImageManagement/ImageBrowser?targetId=@Model.TargetId&path=@Model.Path&callBackFunc=@Model.OnSuccess" class="browser-image">Browser</a>