@model Vcs.Web.Areas.Administration.Models.UpdateModel

@{
    ViewBag.Title = "UpdateSystem";
    Layout = "~/Views/Shared/_System.cshtml";
}

<h2>Update System to @Model.Version</h2>

<p>
    <a href="@Url.Action("Index")">Back to dashboard</a>
</p>

<div>
    @Model.Result
</div>

<p>
    <a href="@Url.Action("Index")">Back to dashboard</a>
</p>
