@{
    ViewBag.Title = "Home";
    Layout = "~/Themes/JTWebWales/Views/Shared/_Layout.cshtml";
}
<div id="zb-top">
    <div id="zbt-title">...Hello, we are JT!</div>
    <div id="zbt-des">
        We are a group of people crazy about the web, we design and develop <br />
        <span class="fo-color">beautiful</span>, <span class="fo-color">creative</span> and <span class="fo-color">user-centered</span> websites.
    </div>
    <div id="zbt-slider">
        <div id="zbts-video">
	<object style="height: 361px; width: 940px"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=44022416&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=44022416&amp;server=vimeo.com&amp;autoplay=true&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" autoplay="1" allowscriptaccess="always" width="940" height="361"></embed></object>
                    
        </div>
    </div>
</div>
<div id="zb-main">
    <div id="zbm-service-title" class="jt-title">
        Main Services
    </div>
    <div id="zbm-service">
        <div class="zbms-item fleft zbms-design">
            <div class="icon"></div>
            <div class="text">
                <a href="#">DESIGN</a>
            </div>
            <div class="des">
                Bring your ideas to creative and intelligent solutions.
            </div>
        </div>
        <div class="zbms-item fleft zbms-development">
            <div class="icon"></div>
            <div class="text">
                <a href="#">DEVELOPMENT</a>
            </div>
            <div class="des">
                Make your  websites that are very easy to use. 
            </div>
        </div>
        <div class="zbms-item fleft zbms-marketing">
            <div class="icon"></div>
            <div class="text">
                <a href="#">MARKETING</a>
            </div>
            <div class="des">
                Making the most out of your website.
            </div>
        </div>
        <div class="zbms-item fleft zbms-strategy last">
            <div class="icon"></div>
            <div class="text">
                <a href="#">STRATEGY</a>
            </div>
            <div class="des">
                To maximize your online return is the goal.
            </div>
        </div>
        <div class="clear"></div>
        <div id="zbms-da">
            <div class="line">
                Logo design
            </div>
            <div class="line">
                Concept design
            </div>
            <div class="line">
                Illustrations
            </div>
            <div class="line">
                User experience design
            </div>
            <div class="line">
                Design direction
            </div>
        </div>
    </div>
    <div id="zbm-content">
        &nbsp;
    </div>
    <div id="zbm-bottom" class="layout">
        <div class="fleft text">Have an idea for a website? What are you waiting for?</div>
        <div class="fright goto-contact"><a href="contact.html"><bi>Let's talk</bi></a></div>
        <div class="clear"></div>
    </div>
</div>