@model Vcs.User
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_System.cshtml";
}

<h2>Change Password</h2>

@if (ViewBag.Result == null)
{
    <p>Can't find your username in the database. Please try again</p>
}
else
{
    if (!ViewBag.Result)
    {
        if (!string.IsNullOrEmpty(ViewBag.Message))
        {
        <p class="warning">@ViewBag.Message</p>
        }
        
        <p>Please enter your user name</p>
        <form method="post" action="@Url.Action("ChangePassword")">
            <p>
            <input type="hidden" value="@Model.Id" id="userid" name="userid" />
            <input type="hidden" value="@Request["code"]" id="code" name="code" />
            <label for="newPassword">New password: </label><input id="newPassword" name="newPassword" type="password" />
            </p>
            <p>
            <label for="confirm">Confirm: </label><input id="confirm" name="confirm" type="password" />
            </p>
            <input type="submit" value="Get password"  type="password" />
        </form>
    }
    else
    {
    <p>Your password has been changed. Try to login with the new password please.</p>
    }
}
