@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_System.cshtml";
}

<h2>Forget Password</h2>

@if (ViewBag.Result != null && ViewBag.Result)
{
    <p>The activation email is already sent to you email address. Please check your mailbox now.</p>
}
else
{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <p class="warning">@ViewBag.Message</p>
    }

    <p>Please enter your user name</p>
    <form method="post" action="/Administration/Users/ForgetPassword">
        <label for="Username">Username: </label><input id="Username" name="Username" />
        <input type="submit" value="Get password"  />
    </form>
}

